* {
    font-family: 'Ubuntu';
}

/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Ubuntu';
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* HEADER */

.logo {
    height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img {
    height: 50px;
}

.nav-item {
	background-color: #f3efef;
	margin-top: 10px;

}

.nav-item a {
	color: #858484;
}

.nav-item .active {
	background-color: white !important;
	color: black !important;
	border-radius: 0 !important;
}

.ri-menu-line {
	font-size: 20px;
    position: absolute;
    top: 40px;
    right: 30px;
    padding-left: 10px;
    cursor: pointer;
    z-index: 10001;
	transition: all .50s ease;
    display: none;
}

@font-face {
    font-family: "Ubuntu";
    src: url('assets/ubuntu-l-webfont.woff') format('woff');
}

@media screen and (max-width: 890px) {
	.nav {
		position: absolute;
		z-index: 10001;
		top: 65px;
		right: 30px;
		width: 270px;
		background-color: #f3efef;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		border-radius: 4px;
		transition: all .50s ease;
		font-size: 14px;
		padding: 0;
	}

	.ri-menu-line {
		display: block;
	}
}
  

/* @media screen and (max-width: 650px) {
	.nav-item {
		font-size: 10px;
	}
} */