* {
    font-family: 'Ubuntu';
}

/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Ubuntu';
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* HEADER */

/* header {
	position: fixed;
	z-index: 99;
	background-color: white;
	top: 13%;
	left: 50%;
	transform: translate(-40%, -40%);
} */

.logo {
    height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img { height: 50px; }

.nav-item {
	background-color: #f3efef;
	margin-top: 10px;
	font-size: 20px;
}

.nav-item a { color: #858484; }

.nav-item .active {
	background-color: white !important;
	color: black !important;
	border-radius: 0 !important;
}

#menu-icon {
	font-size: 20px;
    position: absolute;
    top: 40px;
    right: 30px;
    padding-left: 10px;
    cursor: pointer;
    z-index: 10001;
	transition: all .50s ease;
    display: none;
}

h1 { font-size: 25px; }

.card { border: 0; }

.card:hover{
	box-shadow: 5px 5px 10px -4px #000;
	transition: 0.3s;}

.card img { height: 250px; }

@font-face {
    font-family: "Ubuntu";
    src: url('assets/ubuntu-l-webfont.woff') format('woff');
}

@media screen and (max-width: 1120px) {
	.nav-item{
		font-size: 16px;
		transition: 2s;
	}
}

@media screen and (max-width: 890px) {
	.nav {
		position: absolute;
		z-index: 10001;
		top: 65px;
		right: 30px;
		width: 270px;
		background-color: #f3efef;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		border-radius: 4px;
		transition: all .50s ease;
		font-size: 14px;
		
	}

	.nav-item {
		margin-top: -2px;
		border-radius: 4px;
	}

	#menu-icon { display: block; }

	.nav.open { visibility: hidden; }
}